.image_h1 {
    width: auto;
    height: 35px;
}

.text-ultramarine {
    color: #1a73e8;
}

.registration-border {
    box-shadow: 12px 12px 3px #37598c;
}

.sign-up-button {
    width: 110px;
    border-radius: 20px;
    background-color: #1a73e8;
    color: white;
}

.sign-up-button:hover {
    color: white;
}

.input-icon {
    height: 15px;
    width: auto;
}

.form-control::placeholder{
    opacity: 45%;
}

.custom input,.custom a, .custom button{
    width: 90px;
}

#cover_image{
    max-width: 225px;
    max-height: 250px;
}

.book_details_text{
    margin-left: 10px;
    max-width: 650px!important;
}

.book_details_img{
    max-width: 225px;
}

.book_details_frame{
    background: #EEFCFC;
    max-width: 925px!important;
}
