.image_h1 {
    width: auto;
    height: 35px;
}

.text-ultramarine {
    color: #1a73e8;
}

.registration-border {
    box-shadow: 12px 12px 3px #37598c;
}

.sign-up-button {
    width: 110px !important;
    border-radius: 20px !important;
    background-color: #1a73e8 !important;
    color: white !important;
}

.sign-up-button:hover {
    color: white !important;
}

.input-icon {
    height: 15px;
    width: auto;
}

.form-control::placeholder{
    opacity: 45%;
}
.swiper-container {
    height: 420px;
}

.swiper-slide img{
    height: 70%;
    width: 100%;
    margin-bottom: 10px;
}

.swiper-slide p{
    text-align: center;
}

.swiper-button-prev::after, .swiper-button-next::after{
    color: #323232;
    font-size: 75px !important;
}

.h2-home-page{
    margin-top: 90px;
    margin-bottom: 20px;
}
