django==3.0.0
django-mongoengine==0.4.6
email-validator==1.1.2
Flask==1.1.2
Flask-Login==0.5.0
flask-mongoengine==1.0.0
flask_wtf==0.14.3
mongoengine==0.23.0
pylint==2.7.4
python-dotenv==0.17.0
Werkzeug==1.0.1
WTForms==2.3.3
mongomock

pytest~=6.2.3
pymongo~=3.10.1