{% extends 'base.html' %}

{% block title %} Book updating {% endblock %}
{% block body %}
<div class="container">
    <h1>Book updating page</h1>
    <form method="post">
        <input type="text" name="title" id="title" class="form-control" placeholder="Book Title" value="{{ book.title }}"><br>
        <input type="text" name="author" id="autor" class="form-control" placeholder="Book Author" value="{{ book.author }}"><br>
        <input type="text" name="genre" id="genre" class="form-control" placeholder="Genre" value="{{ book.genre }}"><br>
        <input type="number" name="year" id="year" class="form-control" placeholder="Year" value="{{ book.year }}"><br>
        <input type="text" name="publisher" id="publisher" class="form-control" placeholder="Publisher" value="{{ book.publisher }}"><br>
        <input type="number" name="number_of_pages" id="number_of_pages" class="form-control" placeholder="Number of pages" value="{{ book.number_of_pages }}"><br>
        <textarea name="description" id="description" placeholder="Description" class="form-control">{{ book.description }}</textarea><br>
        <input type="text" name="language" id="language" class="form-control" placeholder="Language" value="{{ book.language }}"><br>

        <input type="submit" class="btn btn-success" value="Update"><br>
    </form>
</div>
{% endblock %}

