.to_red {
color: red !important;
}

.custom input,.custom a, .custom button{
    width: 78px;
}

.custom_border{
    -webkit-box-shadow: -1px 1px 10px 3px #B9B5B4;
    -moz-box-shadow: -1px 1px 10px 3px #B9B5B4;
    box-shadow: -1px 1px 10px 3px #B9B5B4;
}