{% extends 'base.html' %}

{% block title %} Book Inactive {% endblock %}
{% block body %}
<div class="container">
    <h1>Inactive Books</h1>

    {% for book in books %}
        <div class="alert alert-info">
            <h2>{{ book.title }}</h2>
            <p>Author: <b>{{ book.author_id.name }}</b> <b>({{book.author_id.birthdate}} - {{book.author_id.death_date}})</b>
            <p>Published: <b>{{ book.year }}</b></p>
            <p>Status: <b>{{ book.status }}</b></p>
            <a href="{{ url_for('book_details', _id=book.id) }}" class="btn btn-warning">Details</a>
            <a href="{{ url_for('book_update', _id=book.id) }}" class="btn btn-success">Update</a>
            <a href="{{ url_for('book_restore', _id=book.id) }}" class="btn btn-primary">Restore</a>

        </div>
    {% endfor %}
</div>
{% endblock %}
