{% extends 'base.html' %}

{% block title %} Book details {% endblock %}
{% block body %}
    <div class="container d-flex justify-content-start">
        <div class="book_details_img">
            <img id="cover_image" src="{{ book.link_img }}" alt="book cover">
            <small>Paperback, {{ book.pages }} pages</small><br>
            <small>Published in {{ book.year }} by {{ book.publisher }}</small><br>
            <small>Language: <b>{{ book.language.title() }}</b></small><br>
            <small>Status: <b>{{ book.status }}</b></small><br>
            <small>Rating: <b>{{ book.statistic.rating }}</b></small>
        </div>
        <div class="book_details_text">
            <h3 class="align-top">{{ book.title }}</h3>
            <p>by <b>{{ book.author_id.name }}</b></p>
            <p>Genres: <b>{% for genre in book.genres %}{{ genre }} {% endfor %}</b></p>
            <span data-toggle="tooltip" data-placement="top" title="Total read {{ book.statistic.total_read }}">
                <img src="/static/images/totalRead.png" alt="total read icon">
                {{ book.statistic.total_read }}
            </span>
            <span data-toggle="tooltip" data-placement="top" title="Reading now {{ book.statistic.reading_now }}">
                <img src="/static/images/readingNow.png" alt="total read icon">
                {{ book.statistic.reading_now }}
            </span><br><br>
            <p>
                {{ book.description }}
            </p>
            {% for link in book.store_links %}
                <a class="text-decoration-none" href="{{ link }}">{{ link }}</a>
            {% endfor %}
            <h2>Community Comments</h2>
        </div>
    </div>
{% endblock %}
