{% extends 'base.html' %}

{% block title %} Book Active {% endblock %}
{% block body %}
<div class="container">
    <h1>Active Books</h1>

    {% for book in books %}
        <div class="alert alert-info">
            <h2>{{ book.title }}</h2>
            <p>Author: <b>{{ book.author }}</b></p>
            <p>Published: <b>{{ book.year }}</b></p>
            <p>Status: <b>{{ book.status }}</b></p>
            <a href="{{ url_for('book_details', _id=book.id) }}" class="btn btn-warning">Details</a>
            <a href="{{ url_for('book_update', _id=book.id) }}" class="btn btn-success">Update</a>
            <a href="{{ url_for('book_delete', _id=book.id) }}" class="btn btn-danger">Delete</a>

        </div>
    {% endfor %}
</div>
{% endblock %}