{% extends 'base.html' %}

{% block title %} Book details {% endblock %}
{% block body %}
    <div class="container border p-3 mb-3 book_details_frame rounded">
        <div class="d-flex justify-content-start">
            <div class="book_details_img">
                <img id="cover_image" src="{{ book.link_img }}" alt="book cover">
                <small>Paperback, {{ book.pages }} pages</small><br>
                <small>Published in {{ book.year }} by {{ book.publisher }}</small><br>
                <small>Language: <b>{{ book.language.title() }}</b></small><br>
                <small>Status: <b>{{ book.status }}</b></small><br>
                <small>Rating: <b>{{ book.statistic_id.rating }}</b></small>
                <div class="dropdown show mt-2">
                    <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Links on book
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        {% for link in book.store_links %}
                            <a class="dropdown-item" href="{{ link }}">Resource {{ loop.index }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="book_details_text">
                <div class="d-flex">
                    <div class="mr-auto">
                        <span class="h3">{{ book.title }}</span>
                    </div>
                    <div class="custom ml-1">
                        <a class="btn btn-secondary" onclick="back_to_list()">Back</a>
                    </div>
                </div>
                <p>by <b>{{ book.author_id.name }}</b></p>
                <p>Genres: <b>{{','.join(book.genres)}}</b></p>
                <span data-toggle="tooltip" data-placement="top" title="Total read {{ book.statistic_id.total_read }}">
                <img src="{{ url_for('static', filename='images/totalRead.png') }}" alt="total read icon">
                {{ book.statistic_id.total_read }}
            </span>
                <span data-toggle="tooltip" data-placement="top" title="Reading now {{ book.statistic_id.reading_now }}">
                <img src="{{ url_for('static', filename='images/readingNow.png') }}" alt="reading now icon">
                {{ book.statistic_id.reading_now }}
            </span><br><br>
                <p>
                    {{ book.description }}
                </p>
            </div>
        </div>
    </div>
{% endblock %}
