{% extends 'base.html' %}

{% block title %} Book Storage {% endblock %}

{% block body %}
    <form action="" method="post">
        <input type="text" class="form-control" placeholder="Search" id="mySearch" name="mySearch">
    </form>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Published</th>
                <th scope="col">
                    <div class="btn-group">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        Status
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="{{ url_for('book_storage') }}">Book Storage</a>
                        <a class="dropdown-item" href="{{ url_for('book_active') }}">Active Books</a>
                        <a class="dropdown-item" href="{{ url_for('book_inactive') }}">Inactive Books</a>
                    </div>
                </div>
                </th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        {% for book in books %}
        <tbody id="bookTable">
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td {% if book.status == 'inactive' %} style="opacity: 0.5" {% endif %}> {{ book.title }}</td>
                <td {% if book.status == 'inactive' %} style="opacity: 0.5" {% endif %}> {{ book.author_id.name }} ({{book.author_id.birthdate}} - {{book.author_id.death_date}})</td>
                <td {% if book.status == 'inactive' %} style="opacity: 0.5" {% endif %}> {{ book.year }}</td>
                <td {% if book.status == 'inactive' %} style="opacity: 0.5" {% endif %}> {{ book.status }}</td>
                <td>
                    {% if book.status == 'active' %}
                    <a href="{{ url_for('book_details', _id=book.id) }}" class="btn btn-warning">Details</a>
                    <a href="{{ url_for('book_update', _id=book.id) }}" class="btn btn-success">Update</a>
                    <a href="{{ url_for('book_delete', _id=book.id) }}" class="btn btn-danger">Delete</a>
                    {% endif %}

                    {% if book.status == 'inactive' %}
                    <a href="{{ url_for('book_details', _id=book.id) }}" class="btn btn-warning">Details</a>
                    <a href="{{ url_for('book_update', _id=book.id) }}" class="btn btn-success">Update</a>
                    <a href="{{ url_for('book_restore', _id=book.id) }}" class="btn btn-primary">Restore</a>
                    {% endif %}
                </td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
{% endblock %}
