{% extends 'base.html' %}
{% block title %}
Create User
{% endblock %}

{% block body %}
<div class="d-flex align-items-center flex-column">
    <h1>User adding form</h1>
    <form class="border custom_border rounded m-3" action="" method="post" novalidate>
        {{ form.csrf_token }}
        <div class="col-md-12 mb-3 pt-3">
                {{ form.firstname.label }}
                {{ form.firstname(class="form-control", size=32, placeholder="firstname") }}
            {% if form.firstname.errors %}
                <script>
                document.getElementById("firstname").classList.add("is-invalid");
                </script>
                {% for error in form.firstname.errors %}
                   <span class="to_red">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-md-12 mb-3">
            {{ form.lastname.label }}
            {{ form.lastname(size=32, class="form-control", placeholder="lastname") }}
            {% if form.lastname.errors %}
                <script>
                    document.getElementById("lastname").classList.add("is-invalid");
                </script>
                {% for error in form.lastname.errors %}
                    <span class="to_red">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-md-12 mb-3">
            {{ form.email.label }}
            {{ form.email(size=32, class="form-control", placeholder="email") }}
            {% if form.email.errors %}
                <script>
                    document.getElementById("email").classList.add("is-invalid");
                </script>
                {% for error in form.email.errors %}
                    <span class="to_red">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-md-12 mb-3">
            {{ form.login.label }}
            {{ form.login(size=32, class="form-control", placeholder="login") }}
            {% if form.login.errors %}
                <script>
                    document.getElementById("login").classList.add("is-invalid");
                </script>
                {% for error in form.login.errors %}
                   <span class="to_red">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-md-12 mb-3">
            {{ form.password.label }}
            {{ form.password(size=32, class="form-control", placeholder="password") }}
            {% if form.password.errors %}
                <script>
                    document.getElementById("password").classList.add("is-invalid");
                </script>
                {% for error in form.password.errors %}
                   <span class="to_red">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-md-12 mb-3">
            {{ form.role.label }}
            {{ form.role(class="form-control") }}
            {% if form.role.errors %}
                <script>
                    document.getElementById("role").classList.add("is-invalid");
                </script>
                {% for error in form.role.errors %}
                    <span class="to_red">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-md-12 mb-3 custom">
            {{ form.submit(class="btn btn-success") }}
            <a class="btn btn-secondary" href="{{ url_for('start_page') }}">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}
