{% extends 'base.html' %}
{% block title %}
Create User
{% endblock %}

{% block body %}
<div class="create_user_form container d-flex justify-content-center">
    <form action="" method="post">
        {{ form.csrf_token }}
        <div class="col-md-12 mb-3 pt-3">
            {% if not form.firstname.errors %}
                {{ form.firstname.label }}
                {{ form.firstname(size=32, class="form-control", placeholder="firstname") }}
            {% elif form.firstname.errors %}
                {{ form.firstname.label }}
                {{ form.firstname(size=32, class="form-control is-invalid", placeholder="firstname") }}
                {% for error in form.firstname.errors %}
                   <span class="to_red">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-md-12 mb-3">
            {% if not form.lastname.errors %}
            {{ form.lastname.label }}
            {{ form.lastname(size=32, class="form-control", placeholder="lastname") }}
            {% elif form.lastname.errors %}
                {{ form.lastname.label }}
                {{ form.lastname(size=32, class="form-control is-invalid", placeholder="lastname") }}
                {% for error in form.lastname.errors %}
                    <span class="to_red">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-md-12 mb-3">
            {% if not form.email.errors %}
                {{ form.email.label }}
                {{ form.email(size=32, class="form-control", placeholder="email") }}
            {% elif form.email.errors %}
                {{ form.email.label }}
                {{ form.email(size=32, class="form-control is-invalid", placeholder="email") }}
                {% for error in form.email.errors %}
                    <span class="to_red">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-md-12 mb-3">
            {% if not form.login.errors %}
            {{ form.login.label }}
            {{ form.login(size=32, class_="form-control", placeholder="login", id="login_input") }}
            {% elif form.login.errors %}
                {{ form.login.label }}
                {{ form.login(size=32, class_="form-control is-invalid", placeholder="login") }}
                {% for error in form.login.errors %}
                   <span class="to_red">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-md-12 mb-3">
            {% if not form.password.errors %}
                {{ form.password.label }}
                {{ form.password(size=32, class_="form-control", placeholder="password") }}
            {% elif form.password.errors %}
                {{ form.password.label }}
                {{ form.password(size=32, class_="form-control is-invalid", placeholder="password") }}
                {% for error in form.password.errors %}
                   <span class="to_red">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-md-12 mb-3">
            {% if not form.role.errors %}
                {{ form.role.label }}
                {{ form.role(class_="form-control") }}
            {% elif form.role.errors %}
                {{ form.role.label }}
                {{ form.role(class_="form-control is-invalid") }}
                {% for error in form.role.errors %}
                    <span class="to_red">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-md-12 mb-3">
            {{ form.submit(class="btn btn-success") }}
        </div>
    </form>
</div>
{% endblock %}
