{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block welcome %}
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h1>Administrator Panel</h1>
            <a href="{{ url_for('logout') }}" class="link-dark">Logout</a>
        </div>
    </div>

{% endblock %}

{% block body %}
<div style="text-align: center">
    <h1>Welcome to administrator panel</h1>
    <h3>General statistics</h3>
    <br>
    <h4>Users</h4>
    <hr>
    <h5>Total: {{statistics.number_users}}</h5>
    <h5>Active: {{statistics.number_active_users}}</h5>
    <h5>Inactive: {{statistics.number_inactive_users}}</h5>
    <h5>Muted: {{statistics.number_muted_users}}</h5>
    <br>
    <h4>Books</h4>
    <hr>
    <h5>Total: {{statistics.number_books}}</h5>
    <h5>Active: {{statistics.number_active_books}}</h5>
    <h5>Inactive: {{statistics.number_inactive_books}}</h5>
</div>
{% endblock %}
