{% extends 'base.html' %}
{% block title %}
Update User
{% endblock %}

{% block body %}
    <div class="update_user_form container d-flex justify-content-center">
        <form action="" method="post">
            {{ form.csrf_token }}
             <p>
                {{ form.firstname.label }}
                {{ form.firstname(size=32, value=user.firstname, class_="form-control", placeholder="firstname") }}
            </p>
            <p>
                {{ form.lastname.label }}
                {{ form.lastname(size=32, value=user.lastname, class_="form-control", placeholder="lastname") }}
            </p>
            <p>
                {{ form.email.label }}
                {{ form.email(size=32, value=user.email, class_="form-control", placeholder="email") }}
            </p>
            <p>
                {{ form.login.label }}
                {{ form.login(size=32, value=user.login, class_="form-control", placeholder="login") }}
            </p>
            <p>
                {{ form.password.label }}
                {{ form.password(size=32, class_="form-control", placeholder="password") }}
            </p>
            <p>
                {{ form.role.label }}
                {{ form.role(class_="form-control") }}
            </p>
            <p>
                {{ form.status.label }}
                {{ form.status(class_="form-control") }}
            </p>
            <p>{{ form.submit(class="btn btn-success") }}</p>
        </form>
    </div>

{% endblock %}
