{% extends 'base.html' %}
{% block title %}
    User List
{% endblock %}

{% block body %}
    <div class="container">
        <form action="" method="get" class="d-flex">
            <input type="text" class="form-control col-md-10" placeholder="Search" id="userSearch" name="userSearch"
                   onkeyup='saveValue(this);'>
            <div class="d-flex col-md 2 custom">
                <input type="submit" class="btn btn-success mr-3" value="Find">
                <a href="{{ url_for('get_users_list') }}" class="btn btn-primary" id="searchReset">Reset</a>
            </div>
        </form>
    </div><br>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Email</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Role</th>
            <th scope="col">
                <div class="btn-group">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        Status
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item"
                           href="{{ url_for('get_users_list', userSearch=request.args.get('userSearch')) }}">All
                            users</a>
                        <a class="dropdown-item"
                           href="{{ url_for('get_active_users_list', userSearch=request.args.get('userSearch')) }}">Active</a>
                        <a class="dropdown-item"
                           href="{{ url_for('get_inactive_users_list', userSearch=request.args.get('userSearch')) }}">Inactive</a>
                    </div>
                </div>
            </th>
            <th scope="col" style="width: 200px">Actions</th>
        </tr>
        </thead>
        {% for user in users.items %}
            <tbody id="myTable">
            <tr>
                <th scope="row">{{ loop.index + users.page * users.per_page - users.per_page }}</th>
                <td {% if user.status == 'inactive' %} style="opacity: 0.3" {% endif %}>{{ user.email }}</td>
                <td {% if user.status == 'inactive' %} style="opacity: 0.3" {% endif %}>{{ user.firstname }}</td>
                <td {% if user.status == 'inactive' %} style="opacity: 0.3" {% endif %}>{{ user.lastname }}</td>
                <td {% if user.status == 'inactive' %} style="opacity: 0.3" {% endif %}>{{ user.role }}</td>
                <td {% if user.status == 'inactive' %} style="opacity: 0.3" {% endif %}>{{ user.status }}</td>
                <td class="custom text-right">
                    {% if user.status != 'inactive' %}
                        <a href="{{ url_for('update_user', _id=user.id, userSearch=request.args.get('userSearch'),
                                    page=request.args.get('page')) }}"
                           class="btn btn-warning btn-secondary update_user"
                           data-toggle="tooltip"
                           data-placement="bottom"
                           title="click for editing user">
                            Edit
                        </a>
                        <button class="btn btn-danger btn-secondary"
                                data-toggle="tooltip"
                                data-placement="bottom"
                                title="click for deleting user"
                                onclick="change_status('{{ url_for('delete_user', _id=user.id,
                                    userSearch=request.args.get('userSearch'),
                                    page=request.args.get('page')) }}', status='delete' )">
                            Delete
                        </button>
                    {% endif %}
                    {% if user.status != 'active' %}
                        <button id="restore_user"
                                class="btn btn-primary"
                                data-toggle="tooltip"
                                data-placement="bottom"
                                title="click for deleting user"
                                onclick="change_status('{{ url_for('restore_user', _id=user.id,
                                    userSearch=request.args.get('userSearch'),
                                    page=request.args.get('page')) }}', status='restore')">
                            Restore
                        </button>
                    {% endif %}
                </td>
            </tr>
            </tbody>
        {% endfor %}
    </table>
    <hr>
    <div class="custom_pagination">
        <!-- Pagination Links-->
        <div class="text-right">
            <a href="{{ url_for(request.endpoint, userSearch=request.args.get('userSearch'), page=users.prev_num) }}"
               class="btn btn-outline-dark
       {% if users.page == 1 %}disabled{% endif %}">
                &laquo;
            </a>
            <!-- Loop through the number of pages to display a link for each-->
            {% for page_num in users.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                {% if page_num %}
                    <!-- Check for the active page and set the link to "Active"-->
                    {% if users.page == page_num %}
                        <a href="{{ url_for(request.endpoint, userSearch=request.args.get('userSearch'), page=page_num) }}"
                           class="btn btn-dark">
                            {{ page_num }}
                        </a>
                    {% else %}
                        <a href="{{ url_for(request.endpoint, userSearch=request.args.get('userSearch'), page=page_num) }}"
                           class="btn btn-outline-dark">
                            {{ page_num }}
                        </a>
                    {% endif %}
                {% else %}
                    ...
                {% endif %}
            {% endfor %}
            <a href="{{ url_for(request.endpoint, userSearch=request.args.get('userSearch'), page=users.next_num) }}"
               class="btn btn-outline-dark
       {% if users.page == users.pages %}disabled{% endif %}">
                &raquo;
            </a>
        </div>
        <p class="text-right mt-3">
            Showing page {{ 0 if users.pages == 0 else users.page }} of {{ users.pages }}
        </p>
    </div>
{% endblock %}
